<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo list</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="box">
        <h1>Todo list</h1>
    </div>
    <div class="box">
        <ul>
            <% dayej.forEach(task => { %>
                <li class="task-item">
                    <input type="checkbox" class="delete-checkbox" data-id="<%= task._id %>">
                    <span class="task-name"><%= task.name %></span>
                    <span class="icon-group">
                        <button class="edit-btn" data-id="<%= task._id %>">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="delete-btn" data-id="<%= task._id %>">
                            <i class="fas fa-trash"></i>
                        </button>
                    </span>
                </li>
            <% }) %>
        </ul>
        <form class="item" action="/" method="post">
            <input type="text" name="ele1" placeholder="Enter the task">
            <button type="submit">+</button>
        </form>
    </div>
    <script src="/delete.js"></script>
    <script src="/edit.js"></script>
</body>
</html>