<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo list</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="box">
        <h1>Todo list</h1>
    </div>
    <div class="box">
        <ul>
            <% dayej.forEach(task => { %>
                <li>
                    <%= task.name %>
                    <button class="delete-btn" data-id="<%= task._id %>">Delete</button>
                </li>
            <% }) %>
        </ul>
        <form class="item" action="/" method="post">
            <input type="text" name="ele1" placeholder="Enter the task">
            <button type="submit">+</button>
        </form>
    </div>
    <script src="/delete.js"></script>
</body>
</html>